.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: white;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-main {
  flex: 1;
  padding: 20px;
  background-color: #282c34;
  color: white;

}

.email {
  color: #61dafb;
  text-decoration: none;
  font-size: 1.5em;
}

.email:hover {
  color: #21a1f1;
}

.App-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  padding: 20px;
}

.App-footer a {
  color: white;
  margin: 0 15px;
  font-size: 24px;
  text-decoration: none;
}

.App-footer a:hover {
  color: #61dafb;
}

/* Specific styles for GitHub and LinkedIn icons */
.App-footer a.github {
  color: #0077b5;
  padding: 0 20px;
}

.App-footer a.github:hover {
  color: #005582;
}

.App-footer a.linkedin {
  color: #0077b5;
  padding: 0 20px;
}

.App-footer a.linkedin:hover {
  color: #005582;
}
