.App-header {
  background-color: #384c59;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 100%;
}

.email{  color: rgb(156, 209, 255);
	
}

